/* General styles */

* {
  box-sizing: border-box;
}

body {
  color: #334152;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  letter-spacing: 0.01rem;
  line-height: 1.7;
}

a {
  color: #22b573;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #22b573;
}

img {
  height: auto;
  max-width: 100%;
}

button {
  background-color: #22b573;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
}

/* layout */

main {
  margin: 0 auto;
  max-width: 1240px;

  /* Grid things */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: minmax(50px, auto);
}


/* header */

.site-header {
  padding: 20px;
  background-color: #f7f7f7;

  /* Flexbox things */
  display: flex;
  justify-content: space-between;

  /* Grid things */
  grid-column: 1 / -1;

}

.siteHeader-section {

  /* Flexbox things */

  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;

  /* Flexbox things */
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  border-radius: 20px;
  display: block;
  padding:  0.3rem 1.5rem;
}

nav a:hover {
  background-color: #22b573;
  border:  0;
  color: white;
}

/* Gallery item */

.gallery {
  margin: 0 -1rem;

  /* Flexbox things */
  display: flex;
  flex-wrap: wrap;

  /* Grid things */
  grid-column: 1;
  grid-row: 2 / 7;

}

.gallery-item {
  background: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #444;
  margin:  2rem 1rem;
  text-decoration: none;
  min-width: calc(33.33334% - 2rem);

  /* Flexbox things */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gallery-text {
  padding: 1rem;
  width: 100%;

  /* Flexbox things */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-item p {

  /* Flexbox things */
  flex-grow: 1;
}

/* Sidebar styles */

aside {
  padding: 2rem 0 2rem 2rem;

  /* Flexbox things */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Grid things */
  grid-column: 2;
  grid-row: 2;

}

.sidebar-two {
  grid-row: 4;
}

/* Footer */

footer {
  background-color: #f7f7f7;
  border-top: 1px dotted white;
  padding: 1rem;

  /* Flexbox things */
  display: flex;
  justify-content: space-between;

  /* Grid things */
  grid-column: 1 / -1;
}

footer a {
  text-decoration: underline;
}