/* General styles */

* {
  box-sizing: border-box;
}

body {
  color: #334152;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0.01rem;
  line-height: 1.7;
  max-height: 100%;
}

a {
  color: #22b573;
  text-decoration: none;
}

a:hover {
  border-bottom:  1px solid #22b573;
}

img {
  height: auto;
  max-width: 100%;
}

button {
  background-color: #22b573;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
}

/* layout */

main {
  margin: 0 auto;
  max-width: 1240px;
}


/* header */

.site-header {
  padding: 20px;
  background-color: #f7f7f7;

  /* Flexbox things */
  /* display: flex; */
  /* justify-content: space-between; */
}

.siteHeader-section {

  /* Flexbox things */

  /* display: flex; */
  /* align-items: center; */
}

nav ul {
  list-style-type: none;
  padding: 5px 15px;
  margin: 0;

  /* Flexbox things */
  /* display: flex; */

}

/* Gallery item */

.gallery {
  margin: -1rem;
  padding:  3rem 0;

  /* display: flex;
  flex-wrap: wrap; */
}

.gallery-item {
  background: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #444;
  margin:  2rem 1rem;
  text-decoration: none;
  min-width: calc(25% - 2rem);

  /* flex: 1; */
/*   display: flex;
  flex-direction: column;

  */

}

.gallery-text {
  padding: 1rem;
  width: 100%;

  /* display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between; */
}

.gallery-item p {
  /* flex-grow: 1; */
}

/* Sidebar styles */

aside {
  border-left: 1px dotted grey;
  padding-left: 2rem;

  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

/* Footer */

footer {
  background-color: #22b573;
  border-top: 1px dotted white;
  color: white;
  padding: 1rem;
}

footer a {
  color: white;
  text-decoration: underline;
}