<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flexbox and CSS grid</title>
    <link rel="stylesheet" href="css/style-two.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <!-- Wrapper -->
    <main>
      <!-- header -->
      <header class="site-header">
        <div class="siteHeader-section">
          <div>
            <img src="img/logo.svg" alt="">
          </div>
          <nav>
            <ul>
              <li>
                <a href="">Home</a>
              </li>
              <li>
                <a href="">About</a>
              </li>
              <li>
                <a href="">Work</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="siteHeader-section">
          <a href="">Contact</a>
        </div>
      </header>
      <!-- end header -->

      <!-- Start gallery -->
      <div class="gallery">
        <article class="gallery-item">
          <img src="img/one.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. </p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/two.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/three.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/four.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/five.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/six.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/seven.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/eight.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
        <article class="gallery-item">
          <img src="img/nine.png" alt="" class="thumb">
          <div class="gallery-text">
            <h2>Ryo Takemasa</h2>
            <p>Born in 1981. Based in Tokyo, Japan. Graduated from Musashino Art School. Graduated from Musashino Art University. A freelance illustrator since 2010.</p>
            <a href="">Large version &gt;</a>
          </div>
        </article>
      </div>
      <!-- End gallery -->

      <!-- Start sidebar -->
      <aside class="sidebar-one">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea inventore hic cumque qui architecto cum maiores vel incidunt suscipit voluptates. Voluptatem mollitia possimus, quo modi dicta ullam iusto, iste cum.</p>
      </aside>

      <aside class="sidebar-two">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quibusdam vitae maxime debitis in nostrum aliquam, quod fuga est esse ipsa modi possimus ullam tenetur, fugiat dolores animi explicabo quas?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea inventore hic cumque qui architecto cum maiores vel incidunt suscipit voluptates. Voluptatem mollitia possimus, quo modi dicta ullam iusto, iste cum.</p>
      </aside>
      <!-- End sidebar -->

      <!-- Footer -->
      <footer>
        <p>All images &copy; Ryo Takemasa</p>
        <p>Website: <a href="http://ryotakemasa.com/">http://ryotakemasa.com/http://ryotakemasa.com/</a></p>
      </footer>


    </main>
    <!-- End wrapper -->
  </body>
</html>